.footer {
    margin-top: 3rem;
    @media screen and (min-width: 640px) {
        margin-top: 5rem;
    }
    @media screen and (min-width: 1200px) {
        margin-top: 10rem;
    }
}

.footer-left {
    display: flex;
    flex-direction: column;
    .footer-left-inside {
        background: #F7F7F7;
        align-items: center;
        padding: 71px 0;
        @media(min-width: 1023px) {
            padding: 71px 85px;
            align-items: flex-start;
        }
        display: flex;
        flex-direction: column;
        flex: 1;
        justify-content: center;

        p,a {
            font-size: 16px;
            color: #1D2B52;
        }
        p {
            margin-bottom: 40px;
        
        }
        a {
            &:hover {
                color: #3F5BA5
            }
        }
        .email-box {
            p {
                margin-bottom: 0;
            }
        }
        img {
            margin-right: 17px;
            padding-top: 6px;
        }
        .flex {
            align-items: flex-start;
        }
    }
    .small-footer-title {
        color: #3F5BA5;
        font-size: 28px;
        font-weight: 600;
        margin-bottom: 50px;
    }
    .big-title {
        padding-top: 36px;
        color: #1D2B52;
        font-size: 40px;
        margin-bottom: 2rem;
        font-weight: 600;
        @media(min-width: 1200px) {
     
            font-size: 54px;
      
            margin-bottom: 54px;
        }
        @media(min-width: 1023px) {
            padding: 0 85px;
            text-align: left;
        }
    }
}
.footer-rodo {
    padding: 33px 0 43px 0;
    .rodo-first {
        a {
            @media(min-width: 1023px) {
                padding-left: 85px;
                justify-content: flex-start;
            }

        }

    }
     a {
         @media(max-width: 1022px) {
             justify-content: center;
         }
        display: flex;
        color: #919191;
        font-size: 10px;
         &:hover {
           opacity: 0.7;
         }
     }
}

