// .header-menu-box {
// 	.header-inside {
// 		justify-content: space-between;
// 	}
// 	padding: 0 0;
// 	padding-bottom: 30px;
// 	@media(min-width: 980px) {
// 		padding: 20px 0;
// 		padding-bottom: 100px;

// 	}
// }
// .logos-header-box-box {
// 	display: none;
// 	@media(min-width: 980px) {
// 		display: flex;
// 		flex-direction: column;
// 		justify-content: center

// 	}
// }
// .logos-header-box {
// 	justify-content: flex-end;
// 	a {
// 		display: flex;
// 		margin-right: 20px;
// 		&:hover {
// 			opacity: 0.7;
// 		}
// 	}
// 			// .search-loop {
// 			// 	&:hover {
// 			// 		cursor: pointer;
// 			// 	}
// 			// 	img {
// 			// 		filter: grayscale(100%);
// 			// 	}

// 			// 		margin-left: 40px;

// 			// }
// }
// .search-bar-wraper {
// 	display: none;
// 	position: absolute;
//     width: 200px;
//     right: 0;
//     top: 37px;
// }


// header#site-header {
// 	position: relative;
// 	background: transparent;
// 	.fixed-nav & {
// 		position: fixed;
// 		top: 0;
// 		left: 0;
// 		width: 100%;
// 		transition: .3s ease-out;
// 		z-index: 100;
// 	}

// 	.fixed-nav.scrolled & {
// 		background: #fff;
// 	}

// 	.header-wrap {
// 		min-height: $header-height;
// 		padding-top: .5rem;
// 		padding-bottom: .5rem;
// 		.fixed-nav & {
// 			transition: 0.3s ease-out;
// 		}
// 		.fixed-nav.scrolled & {
// 			min-height: $header-height-scrolled;
// 		}

// 	}
// 	.logo-box {
// 		img {
// 			width: 150px !important;
// 			height: auto;
// 		}
// 	}
// }
header#site-header.header-gray {
	background-color: #F7F7F7;
}


header#site-header {
	padding: 0 0;
	padding-bottom: 30px;

	@media(min-width: 980px) {
		padding: 20px 0;
		padding-bottom: 100px;

	}

	position: relative;
	background: transparent;

	.fixed-nav & {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		transition: .3s ease-out;
		z-index: 100;
	}

	.fixed-nav.scrolled & {
		background: #fff;
	}

	.header-wrap {
		min-height: $header-height;
		padding-top: .5rem;
		padding-bottom: .5rem;

		.fixed-nav & {
			transition: 0.3s ease-out;
		}

		.fixed-nav.scrolled & {
			min-height: $header-height-scrolled;
		}

	}

	.logo-wrap {
		transition: .3s ease-in-out;
		&:hover {
			opacity: 0.7;
		}
	}
}