

.sygnet-slider {
	right: 0;
	bottom: 26%;
	z-index: -1;
}

.owl-next,
.owl-prev {
	svg {
		height: 20px;
		@media(min-width: 1300px) {
			height: 32px;

		}
		transition: .3s ease-in-out;
	}

	&:hover {
		background: transparent !important;

		svg {
		opacity: 0.7;
		}
	}
}

.owl-1-box {
	height: 100%;
}

.owl-next {
	margin: 5px 20px !important;
	@media(min-width: 1300px) {
		padding: 5px 5px !important;
		top: 0;
		bottom: 0;
		position: absolute;
		right: -7%;

	}
}

.owl-prev {
	margin: 5px 20px !important;
	@media(min-width: 1300px) {
	padding: 5px 5px !important;
	top: 0;
	bottom: 0;
	position: absolute;
	left: -7%;
	}
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
	background: rgba(63, 90, 165, 0.87);
}

.owl-theme {
	.owl-nav {
		margin-top: 18px;
	}
	.owl-dots {
		.owl-dot {
			span {
				margin: 5px 15px;
				background: rgba(29, 43, 82, 0.87);
				border-radius: 0;
				width: 5px;
				height: 5px;
			}
		}
	}
}

.owl-item {
	transition: .3s ease-in-out;
	&:hover {
		opacity: 0.7;
	}
}


