@import '../general/typography';
@import '../modules/foundation-settings';

//////////////////main

.first-main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url("../assets/img/Group\ 548.jpg");
    height: 100vh;
    #hamburger {
        color: #fff;
    }
    .main-menu {
   
        li {
            a {
                color: #fff;
             
                &:hover {
                    opacity: 0.7;
                }
                &:active {
                    opacity: 0.7;
                    font-weight: 600;
                }

            }
        }
        .sub-menu {
            li {
                a {
                    &:hover {
                        color: #fff;
                        opacity: 0.7;
                    }
                }
            }
        }
    }

    .first-main-title-box {
        display: flex;
        justify-content: center;  
        padding: 36px 0;
        .titles-box {
            width: 70%;
            display: flex;
            justify-content: space-between;
            img {
                transition: .3s ease-in-out;
                &:hover {
                    cursor: pointer;
                    opacity: 0.7;
                }
                @media(max-width: 639px) {
                    display: none;
                }
            }
        }
        background: transparent linear-gradient(178deg, #1D2B52 0%, #060910 100%) 0% 0% no-repeat padding-box;
        opacity: 0.8;
    }
    .first-main-title {
        color: #fff;
        font-weight: 200;
        font-size: 28px;
        margin-bottom: 1px;
    }
    .first-main-subtitle {
        color: #fff;
        font-weight: 600;
        font-size: 20px;
    }
}


.owl-box {
    .big-title {
        font-size: 36px;
        margin-bottom: 34px;
    }
}

.map-main {
    .sygnet-big {
        top: 0;
        right: 0;
        z-index: -1;
    }
    .big-title {
        line-height: 1;
        text-align: left;
        em {
            font-size: 30px;
        }
        margin-bottom: 2rem;
        @include breakpoint(large) {
            margin-bottom: 54px;
            font-size: 54px;
            em {
                font-size: 39px;
            }
        }
    }
}

///////////////////////////////inwestycja

.inwestycja-2 {
    .p-box {
        margin-bottom: 2rem;
    }
    .inwestycja-2-img {
        background-image: url("../assets/img/SALON\ 2\ rozmiar\ mniejszy.jpg");
        height: 250px;
        @include breakpoint(medium) {
            min-height: 444px;

        }
    }
    .inwestycja-2-img-big {
        display: none;
        @include breakpoint(medium) {
            display: block;
        }
    }
    .inwestycja-2-img-small {
        display: block;
        @include breakpoint(medium) {
            display: none;
        }
    }

}

// .inwestycja-1{
    .img-1{
        background-image: url("../assets/img/IMG_20200217_122801.jpg");
        height: 230px !important;
    }
// }

.opis {
    .opis-gray {
        @include breakpoint(medium) {
            background: #F7F7F7;
            padding-top: 118px;
            padding-bottom: 118px;

        }
    }
    .opis-img-1 {
        background-image: url("../assets/img/WO1.jpg");
        background-position: right;
        background-size: cover;
    }
    .opis-img-3 {
        background-image: url("../assets/img/SALON\ 1\ rozmiar\ mnieszy.jpg");
        background-size: cover;
    }
    .opis-img-2 {
        background-image: url("../assets/img/Intersection\ 1.jpg");
        background-position: right;
        background-size: cover;
        @include breakpoint(medium) {
            height: 100%;
        }
    }
    .opis-title {
        font-size: 36px;
        font-weight: 600;
        text-transform: uppercase;
        margin-bottom: 10px;
        color: #3F5BA5;
        font-family: zeitung, sans-serif;
   
    }
    .opis-title-small {
        font-size: 36px;
        font-weight: 600;
        color: #1D2B52;
        margin-bottom: 2rem;
        em {
            font-style: normal;
            color: #3F5BA5;
        }
    }
    .cyt {
        p {
            font-size: 23px;
            color: #1D2B52;
            font-weight: 600;
            margin-bottom: 28px;
            line-height: 1.4;
        }
    }
}

.opis-gray {
    p {
        margin-bottom: 29px;
    }
}

.opis-second {
    .cyts {
        margin-bottom: 31px;
        .cyt {
            
            &:first-child {
                p {
                    margin-bottom:0 !important;
    
                }
            }
        }
    }
    .cyt {
        p {
            margin-bottom: 0;

        }
        &:first-child {
            p {
                margin-bottom: 31px;

            }
        }
    }
}

.sygnet-1 {
    right: 0;
    bottom: 0;
}
.sygnet-2 {
    bottom: 0;
}

.map-img {
    background-image: url("../assets/img/Rectangle\ 218.jpg");
    height: 250px;
    background-size: cover;
    background-repeat: no-repeat;
    @include breakpoint(medium) {
        height: 601px;
    }
}

.attractions {
    .jus-center {
        @include breakpoint(medium) {
            justify-content: center;
        }
    }
    .cell {
        @media(max-width: 639px) {
            margin-bottom: 1rem; 

        }
   
        a {
            align-items: center;
            &:hover {
                opacity: 0.7;
            }

        }
        img {
            padding-right: 20px;
        }
         p {
             color: #4D4D4D;
             line-height: 1.3;
         }
    }
}

.wizualizacje {
    .two-img-box {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .cell {
        @media(max-width: 639px) {
            margin-bottom: 20px;
        }
    }
    .wiz-img-1 {
        background-image: url("../assets/img/WF1.jpg");
        height: 250px;
        @include breakpoint(medium) {
            height: 520px;
        }
        @include breakpoint(medium) {
            margin-bottom: 15px;
        }
        @include breakpoint(large) {
            margin-bottom: 30px;

        }
    }
    .wiz-img-2 {
        background-image: url("../assets/img/WF2.jpg");
        height: 250px;
    }
    .wiz-img-3 {
        background-image: url("../assets/img/WF3.jpg");
        height: 250px;
    }
    .wiz-img-4 {
        background-image: url("../assets/img/ŁAZIENKA.jpg");
        height: 250px !important;
        @include breakpoint(medium) {
            height: auto !important;
        }
    }
    .wiz-img-5 {
        background-image: url("../assets/img/SYPIALNIA.jpg");
        height: 250px;
        margin-bottom: 20px;
        @include breakpoint(medium) {
            margin-bottom: 15px;
            height: 342.5px;
        }
        @include breakpoint(large) {
            margin-bottom: 30px;
            height: 335px;
        }
    }
    .wiz-img-6 {
        background-image: url("../assets/img/ANEKS\ KUCHENNY\ 1.jpg");
        height: 250px;
        @include breakpoint(medium) {
            margin-bottom: 0;
            height: 342.5px;
        }
        @include breakpoint(large) {
            height: 335px;
        }
    }
    .wiz-img-7 {
        background-image: url("../assets/img/ANEKS\ KUCHENNY\ 2.jpg");
        height: 250px !important;
        @include breakpoint(medium) {
            height: auto !important;
        }
    }
}


////////////////////////table//////////////////////////

.table-section {
    span {
        font-size: 12px;
        color: #707070;
        line-height: 1.5;
        font-weight: 300;
        display: block;
        padding-top: 20px;
    }
}

.table {
    td img {
        min-width: 17px;

        @media screen and (max-width: 640px) {
            padding-top: 0.3em;
        }
        transition: .3s ease-in-out;
        &:hover {
            opacity: 0.7;
        }
    }

    td:last-child {
        @media screen and (max-width: 640px) {
            display: inline-flex;
        }
    }

    color: #404D5A;
    border-spacing: 0;
    border-collapse: separate;
    font-size: 16px;
    font-weight: 300;

    td {
     
            padding: 2rem 0;
    
        font-size: 16px;
        font-weight: 300;
        color: #404D5A
    }

    thead th {
        color: $grey;
        text-align: center;
        text-transform: uppercase;
        background-color: #fff;
        font-size: 14px;
        font-weight: 600;
        color: #404D5A;
        padding: 11px 2rem;
    }


    tr:nth-child(even) {
        background-color: $light-beige-table;
    }

    tr:nth-child(odd) {
        background-color: $beige-table;
    }

    .table-button {
        // @extend .brown-button;
        font-size: 0.7em;
        font-weight: bold;
        border: 1px solid $brown;
        margin-top: 0;

        @media screen and (min-width: 640px) {
            margin-left: 1em;
            font-size: 0.9em;
        }

        @media screen and (max-width: 640px) {
            margin-left: 1em;
            margin-bottom: 1em;
        }
    }


}


.table thead ,
.table thead tr,
.table thead td,
.table thead th {
	background: transparent !important;
}

.mieszkania-table {
    width: 100%;
}


////////////////////////////about

.about, .header-gray {
    background-color: #F7F7F7;
}

.about {
    p {
        margin-bottom: 20px;
    }
    .sygnet-1 {
        bottom: -220px;
    }
    .section {
        @include breakpoint(large) {
            padding-bottom: 100px;
        }
    }
    .about-title {
        font-size: 27px; 
        @include breakpoint(large) {
            font-size: 36px;

        }
        color: #1D2B52;
        font-weight: 600;
        line-height: 1.25;
        margin-bottom: 1rem;
        @include breakpoint(large) {
            margin-bottom: 70px;
        }
    }
}

//////////////////////kontakt

.kontakt-map {
    .map-img {
        height: 327px;
    }
}