@import '../modules/foundation-settings';

$blue: #3F5BA5;
$brown: #8E6B55;
$beige-table: rgba(63, 91, 166, 0.12);
$light-beige-table: rgba(63, 91, 166, 0.07);
$grey: #404D5A;



* {
  font-family: "zeitung", sans-serif;
}

// @mixin grid-padding-x($property) {
//     @media(min-width: 1024px) {
//         margin-left: -$property;
//         margin-right: -$property;
//         > .cell {
//         padding-left: $property;
//         padding-right: $property;
//         }

//     }
//   }

// .small-img-height {
//     @media(max-width: 639px) {
//         height: 250px;
//         margin-bottom: 2rem;
//     }
// }

h1,h2,h3,h4,h5,h6 {
    font-family: "zeitung", sans-serif;
}



.big-title {
    font-size: 42px;
    margin-bottom: 2rem;
    color: #1D2B52;
    font-weight: 600;
    text-align: center;
//     @media screen and (min-width: 640px) {
//         font-size: 35px;
//      }
     @media screen and (min-width: 1023px) {
        margin-bottom: 90px;
     }
    em {
        font-style: normal;
        color: #3F5BA5
    }
}

// #breadcrumbs {
//     margin-bottom: 0;
//     font-size: 16px;
//     color: rgba(88, 110, 124, 0.5);
//     a {
//         color: $blue;
//         &:hover {
//             opacity: 0.7;
//         }
//     }
// }

.myButton {
    display: inline-block;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 11px;
    // @media screen and (min-width: 980px){
    //     font-size: 13px;
    // }
    // @media screen and (min-width: 1360px){
    //     font-size: 15px;
    // }
    padding: 13px 33px;
    // border-radius: 100px;
    transition: .3s ease-in-out;
    // margin-bottom: 0;
    &:hover {
        cursor: pointer;
    }
}

.form-button {
    @extend .myButton;
    color: #fff;
    background: transparent;
    border: none;
    font-weight: 400;
}

.owl-button {
    @extend .myButton;
    left: 50%;
    transform: translate(-50%);
    bottom: 10%;
    color: #fff;
    background: transparent;
    border: 1px solid #fff;
    font-weight: 600;
    font-size: 13px;
    padding: 11px 33px;
    &:hover {
        background: #fff;
        color: #1D2B52;
    }
}


.green-button {
    @extend .myButton;
    background-color:#5BC5C1 !important;
    color: #fff;
    border: 1px solid #5BC5C1;
    &:hover {
       background-color: transparent !important;
       color: #5BC5C1 !important;
    }
}

.white-button {
    @extend .myButton;
    background-color:transparent;
    color: #fff;
    border: 1px solid #fff;
    &:hover {
       background-color: #fff;
       color: $blue;
    }
}

p {
    font-size: 14px;
    @include breakpoint(large) {
        font-size: 18px;

    }
    font-weight: 300;
    color: #707070;
    margin-bottom: 0;
    em {
        font-style: normal;
        color: #1D2B52;
        font-weight: 600;
    }
}