


      <div class="grid-container">
        <div class="grid-x header-wrap align-justify align-middle">
            <div class="cell logo-wrap shrink">
                    <a href="<?php echo esc_url( home_url( '/' ) ); ?>">
                        <a href=""><img src="assets/img/Logo, kolor.png" alt=""></a>
                    </a>
            </div>
            
            <div class="cell menu-wrap shrink">
          <a id="hamburger" href="#"><span></span></a>

                <ul class="menu main-menu">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">O nas</a></li>
                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children"><a href="#">osiedle</a>
                        <ul class="sub-menu" style="display: none;">
                            <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="#">Menu
                                    item 1</a>
                            </li>
                            <li class="menu-item menu-item-type-post_type menu-item-object-page "><a href="#">Menu
                                    item 2</a></li>
                            <li class="menu-item menu-item-type-post_type menu-item-object-page "><a href="#">Menu
                                    item 3</a></li>

                        </ul>
                    <div class="arrow"></div></li>
                    <li><a href="#">Lokalizacja</a></li>
                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children"><a href="#">o inwestycji</a>
                        <ul class="sub-menu" style="display: none;">
                            <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="#">Menu
                                    item 1</a>
                            </li>
                            <li class="menu-item menu-item-type-post_type menu-item-object-page "><a href="#">Menu
                                    item 2</a></li>
                            <li class="menu-item menu-item-type-post_type menu-item-object-page "><a href="#">Menu
                                    item 3</a></li>

                        </ul>
                    <div class="arrow"></div></li>
                    <li><a href="#">kontakt</a></li>
                </ul>
                
            </div>
                    
        </div>
    </div>	      
